#metrics-container {
    display: flex;
    flex-wrap: wrap;
}

#stats {
    width: 25%;

}

#loading {
    width: 50px;
    border-style: solid;
    left: -500px;
}

#loading-container {
    width: 100%;
}

#history {
    padding-left: 3%;
}

#metrics {
    width: 75%;
}

#metrics-all {
    width: 75%;
    display: flex;
    flex-direction: column;
}

#random {
    width: 150px;
}

.metrics-group {
    justify-content: space-evenly;
    display: flex;
}

.tile {
    flex-grow: 1;
}

h2 {
    text-align: left;
}

#chart {
    padding-left: 140px;
}

#chart-title {
    width: 350px;
}

@media all and (max-width: 1200px) {
    #metrics-container {
        flex-direction: column-reverse;
    }

    #metrics-all {
        width: 100%;
    }

    #chart {
        padding-left: 140px;
    }

    #stats {
        width: 100%;
    }

}

@media all and (max-width: 950px) {
    .metrics-group {
        flex-direction: column;
    }
    #chart {
        padding-left: 0px;
    }
}

aside {
    padding-bottom: 100px;
}



