#title, footer {
    background-color: #002E2C;
    margin: 0px;
    padding: 25px 0px 25px 15px;
    color: #E8E9EB;
    text-decoration: none;
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    margin-top: 10px;
}

#footer-text {
    margin-top: 0px;
}